test/
venv/
*__pycache__
/*.html
output/*

assets/*
!assets/icon.png
!assets/bullseye.png
!assets/targets
!assets/fonts

backup/

assets/maps/*
!assets/maps/map.png

assets/targets/*
!assets/targets/SA-2.jpg

kneeboards/

dist/*
!dist/leaflet
build/
*.spec
debug.log
build/*
.vscode/

config.local.ini
theaters_4.37.local.ini
theaters_4.38.local.ini
/install.sh
/install_win.sh
