test/
venv/
__pycache__
/*.html
output/*

assets/*
!assets/icon.png
!assets/bullseye.png
!assets/maps
!assets/targets

assets/maps/*
!assets/maps/map.png

assets/targets/*
!assets/targets/SA-2.jpg

dist/
build/
*.spec
debug.log
build/*