<style>
  tr.primary {
      font-weight: bold;
  }
</style>
<table width=100%>
      <tr>
<th class="header clickable" onclick="toggleVisHeader(this)" id="miscBrief_header"><span class="arrow">▼</span>Misc. brief.</th>
  </tr>
</table>
<table width=100% id="miscBrief" class="hidable">
    <colgroup>
        <col style="width:16.5%;">
        <col style="width:16.5%;">
        <col style="width:16.5%;">
        <col style="width:16.5%;">
        <col style="width:33%;">
    </colgroup>
    <thead>
      <tr>
	  <th class="header" width="33%" colspan="2">AA</th>
	  <th class="header" width="33%" colspan="2">Brevity</th>
	  <th class="header" width="33%">Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td contenteditable="true" class="editable" id="aa_brev_notes_1" width="16.5%"></td>
	<td contenteditable="true" class="editable" id="aa_brev_notes_2"></td>
	<td contenteditable="true" class="editable" id="aa_brev_notes_3" width="16.5%"></td>
	<td contenteditable="true" class="editable" id="aa_brev_notes_4"></td>
	<td contenteditable="true" class="editable" id="aa_brev_notes_5" rowspan="3" style="text-align: left"></td>
      </tr>
      <tr>
	<td contenteditable="true" class="editable" id="aa_brev_notes_6"></td>
	<td contenteditable="true" class="editable" id="aa_brev_notes_7"></td>
	<td contenteditable="true" class="editable" id="aa_brev_notes_8"></td>
	<td contenteditable="true" class="editable" id="aa_brev_notes_9"></td>
      </tr>
      <tr>
	<td contenteditable="true" class="editable" id="aa_brev_notes_10"></td>
	<td contenteditable="true" class="editable" id="aa_brev_notes_11"></td>
	<td contenteditable="true" class="editable" id="aa_brev_notes_12"></td>
	<td contenteditable="true" class="editable" id="aa_brev_notes_13"></td>
      </tr>
    </tbody>
</table>
