<table width=100%>
    <tr>
        <th class="header clickable" onclick="toggleVisHeader(this)" id="admin_header"><span class="arrow">▼</span>Admin</th>
    </tr>
</table>
<table width=100% id="admin" class="hidable">
    <colgroup>
        <col style="width:10%;">
        <col style="width:10%;">
        <col style="width:12%;">
        <col style="width:14%;">
        <col style="width:11%;">
        <col style="width:11%;">
        <col style="width:8%;">
        <col style="width:24%;">
    </colgroup>
    <thead>
      <tr>
	  <th class="header">ALOW</th>
	  <th class="header">MSL FL</th>
	  <th class="header">VHF <button class="refreshButton" onclick='restoreDefaultAtId("vhf")' >⟳</button></th>
	  <th class="header">UHF (Tac.)</th>
	  <th class="header">BINGO</th>
	  <th class="header">JOKER</th>
	  <th class="header">XMIT</th>
	  <th class="header">JAM BANDS</th>
      </tr>
    </thead>
    <tbody>
      <td contenteditable="true" class="editable" id="admin_1" data-dtc-field="ICP:Alow AGL">{{ dtc_values.get("ICP:Alow AGL", "")|e }}</td>
      <td contenteditable="true" class="editable" id="admin_2" data-dtc-field="ICP:Alow MSL">{{ dtc_values.get("ICP:Alow MSL", "")|e }}</td>
      <div id="vhf">
      {% for i in range(package_size) %}
      {% if package[i].roster.own %}
      <td contenteditable="true" class="editable vhf" id="admin_3">{{i+15}}</td>
      {% endif %}
      {% endfor %}
      </div>
      <td contenteditable="true" class="editable" id="admin_4"></td>
      <td contenteditable="true" class="editable" id="admin_5"></td>
      <td contenteditable="true" class="editable" id="admin_6" data-dtc-field="ICP:Bingo_Fuel">{{ dtc_values.get("ICP:Bingo_Fuel", "")|e }}</td>
      <td contenteditable="true" class="editable" id="admin_7"></td>
      <td contenteditable="true" class="editable" id="admin_8"></td>
    </tbody>
</table>
