<style>
</style>
<table width=100%>
    <colgroup>
        <col style="width:8%;">
        <col style="width:8%;">
        <col style="width:10%;">
        <col style="width:10%;">
        <col style="width:8%;">
        <col style="width:8%;">
        <col style="width:6%;">
        <col style="width:42%;">
    </colgroup>
    <thead>
      <tr>
	  <th class="header">ALOW</th>
	  <th class="header">MSL FL</th>
	  <th class="header">VHF <button class="refreshButton" onclick='restoreDefaultAtId("vhf")' >⟳</button></th>
	  <th class="header">UHF (Tac.)</th>
	  <th class="header">BINGO</th>
	  <th class="header">JOKER</th>
	  <th class="header">XMIT</th>
	  <th class="header">JAM BANDS</th>
      </tr>
    </thead>
    <tbody>
      <td contenteditable="true" class="editable" id="admin_1"></td>
      <td contenteditable="true" class="editable" id="admin_2"></td>
      <div id="vhf">
      {% for i in range(package_size) %}
      {% if package[i].roster.own %}
      <td contenteditable="true" class="editable vhf" id="admin_3">{{i+15}}</td>
      {% endif %}
      {% endfor %}
      </div>
      <td contenteditable="true" class="editable" id="admin_4"></td>
      <td contenteditable="true" class="editable" id="admin_5"></td>
      <td contenteditable="true" class="editable" id="admin_6"></td>
      <td contenteditable="true" class="editable" id="admin_7"></td>
      <td contenteditable="true" class="editable" id="admin_8"></td>
    </tbody>
</table>
