<style>
</style>
<table width=100%>
    <thead>
      <tr>
	  <th class="header" width="10%">ALOW</th>
	  <th class="header" width="10%">MSL FL</th>
	  <th class="header" width="10%">VHF</th>
	  <th class="header" width="10%">UHF (Tac.)</th>
	  <th class="header" width="10%">BINGO</th>
	  <th class="header" width="10%">JOKER</th>
	  <th class="header" width="5%">XMIT</th>
	  <th class="header" width="10%">JAM BANDS</th>
      </tr>
    </thead>
    <tbody>
      <td contenteditable="true" class="editable" id="admin_1"></td>
      <td contenteditable="true" class="editable" id="admin_2"></td>
      {% for i in range(package_size) %}
      {% if package[i].roster.own %}
      <td contenteditable="true" class="editable" id="admin_3">{{i+15}}</td>
      {% endif %}
      {% endfor %}
      <td contenteditable="true" class="editable" id="admin_4"></td>
      <td contenteditable="true" class="editable" id="admin_5"></td>
      <td contenteditable="true" class="editable" id="admin_6"></td>
      <td contenteditable="true" class="editable" id="admin_7"></td>
      <td contenteditable="true" class="editable" id="admin_8"></td>
    </tbody>
</table>
