<table width=100%>
    <tbody>
      <tr>
	  <th colspan="5" class="header">Airbase</th>
      </tr>
        <tr>
	  <th width="30%">Loc</th>
          <th width="30%">Ground</th>
          <th width="30%">Approach</th>
          <th>TCN</th>
          <th>ILS</th>
        </tr>
        {% for i in range(3)%}
        <tr>
	    <td>{{ airbases[i].agency }}</td>
            <td>{{ airbases[i].ground }}</td>
            <td>{{ airbases[i].approach }}</td>
            <td contenteditable="true" class="editable" id="airbase_{{2*i}}">{{ airbases[i].tcn }}</td>
            <td contenteditable="true" class="editable" id="airbase_{{2*i+1}}">{{ airbases[i].ils }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
