<table width=100%>
      <tr>
<th class="header clickable" onclick="toggleVisHeader(this)" id="airbase_header"><span class="arrow">▼</span>Airbase</th>
  </tr>
</table>
<table width=100% id="airbase" class="hidable">
    <colgroup>
        <col style="width:26%;">
        <col style="width:26%;">
        <col style="width:26%;">
        <col style="width:11%;">
        <col style="width:11%;">
    </colgroup>
    <tbody>
        <tr>
	  <th>Loc</th>
          <th>Ground</th>
          <th>Approach</th>
          <th>TCN</th>
          <th>ILS</th>
        </tr>
        {% for i in range(3)%}
        <tr>
	    <td>{{ airbases[i].agency }}</td>
            <td>{{ airbases[i].ground }}</td>
            <td>{{ airbases[i].approach }}</td>
            <td contenteditable="true" class="editable" id="airbase_{{2*i}}">{{ airbases[i].tcn }}</td>
            <td contenteditable="true" class="editable" id="airbase_{{2*i+1}}">{{ airbases[i].ils }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
