<style>
</style>
<table width="100%">
      <tr>
<th class="header clickable" onclick="toggleVisHeader(this)" id="comms_header"><span class="arrow">▼</span>Comm Ladder</th>
  </tr>
</table>
<table width=100% id="comms" class="hidable">
    <colgroup>
        <col style="width:17%;">
        <col style="width:14%;">
        <col style="width:20%;">
        <col style="width:20%;">
        <col style="width:29%;">
    </colgroup>
    <thead>
        <tr>
            <th>Agency</th>
            <th>Callsign</th>
            <th>UHF</th>
            <th>VHF</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
      {% for agncy in comm %}
      <tr>
	<td>{{agncy.agency}}</td>
	<td>{{agncy.callsign}}</td>
	<td class="nowrap">{{agncy.uhf}}</td>
	<td class="nowrap">{{agncy.vhf}}</td>
	<td>{{agncy.notes}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
