<style>
</style>
<table width=100%>
    <thead>
      <tr>
	  <th colspan="100" class="header">Comm Ladder</th>
      </tr>
        <tr>
            <th>Agency</th>
            <th>Callsign</th>
            <th>UHF</th>
            <th>VHF</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
      {% for agncy in comm %}
      <tr>
	<td>{{agncy.agency}}</td>
	<td>{{agncy.callsign}}</td>
	<td>{{agncy.uhf}}</td>
	<td>{{agncy.vhf}}</td>
	<td>{{agncy.notes}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
