<style>
  tr.primary {
      font-weight: bold;
  }
</style>
<table width="100%">
      <tr>
<th class="header clickable" onclick="toggleVisHeader(this)" id="checklist_header"><span class="arrow">▼</span>Checklists</th>
  </tr>
</table>
<table width=100% id="checklist" class="hidable">
    <colgroup>
        <col style="width:33.3%;">
        <col style="width:33.3%;">
        <col style="width:33.3%;">
    </colgroup>
    <thead>
      <tr>
	  <th class="header" width="33%">Checklist 1</th>
	  <th class="header" width="33%">Checklist 2</th>
	  <th class="header" width="33%">Checklist 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td> 1. VHF set </td>
	<td> 1. Flight VHF check.</td>
	<td> 8. IP check-in as briefed.</td>
      </tr>
      <tr>
	<td> 2. UHF set </td>
	<td> 2. Green jet check.</td>
	<td> 9. Tasking complete check-in.</td>
      </tr>
      <tr>
	<td> 3. TCN/ILS set</td>
	<td> 3. Call taxi on UHF 2.</td>
	<td> 10. Check out.</td>
      </tr>
      <tr>
	<td> 4. JOKER set</td>
	<td> 4. T/O, tactical UHF check.</td>
	<td></td>
      </tr>
      <tr>
	<td> 5. ALOW set</td>
	<td> 5. CC check-in. </td>
	<td></td>
      </tr>
      <tr>
	<td> 6. WPN set as required </td>
	<td> 6. "Marshalled" check-in.</td>
	<td></td>
      </tr>
      <tr>
	<td> 7. RDR ALT ON </td>
	<td> 7. "Pushing" check-in.</td>
	<td></td>
      </tr>



    </tbody>
</table>
