<style>
  tr.primary {
      font-weight: bold;
  }
</style>
<table width="100%">
      <tr>
<th class="header clickable" onclick="toggleVisHeader(this)" id="checklist_header"><span class="arrow">▼</span>Checklists</th>
  </tr>
</table>
<table width=100% id="checklist" class="hidable">
    <thead>
      <tr>
	  <th class="header" width="33%">Checklist 1</th>
	  <th class="header" width="33%">Checklist 2</th>
	  <th class="header" width="33%">Checklist 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td> Item 1 </td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td> Item 2 </td>
	<td></td>
	<td></td>
      </tr>
      <tr>
	<td> Item 3 </td>
	<td></td>
	<td></td>
      </tr>
    </tbody>
</table>
