<table width=100%>
    <thead>
      <tr>
	  <th colspan="3" class="header">Delivery</th>
      </tr>
      <tr>
	  <th class="header" width="33%">TGT 1:</th>
	  <th class="header" width="33%">TGT 2:</th>
	  <th class="header" width="33%">MISC:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td contenteditable="true" class="editable" id="delivery_1"></td>
	<td contenteditable="true" class="editable" id="delivery_2"></td>
	<td contenteditable="true" class="editable" id="delivery_3"></td>
      </tr>
      <tr>
	<td contenteditable="true" class="editable" id="delivery_4"></td>
	<td contenteditable="true" class="editable" id="delivery_5"></td>
	<td contenteditable="true" class="editable" id="delivery_6"></td>
      </tr>
      <tr>
	<td contenteditable="true" class="editable" id="delivery_7"></td>
	<td contenteditable="true" class="editable" id="delivery_8"></td>
	<td contenteditable="true" class="editable" id="delivery_9"></td>
      </tr>
    </tbody>
</table>
