<table width="100%">
      <tr>
<th class="header clickable" onclick="toggleVisHeader(this)" id="delivery_header"><span class="arrow">▼</span>Delivery</th>
  </tr>
</table>

<table width=100% id="delivery" class="hidable">
    <colgroup>
        <col style="width:33.3%;">
        <col style="width:33.3%;">
        <col style="width:33.3%;">
    </colgroup>
    <thead>
      <tr>
	  <th class="header" width="33%">TGT 1:</th>
	  <th class="header" width="33%">TGT 2:</th>
	  <th class="header" width="33%">MISC:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td contenteditable="true" class="editable briefing-flow-field" id="delivery_1"></td>
	<td contenteditable="true" class="editable briefing-flow-field" id="delivery_2"></td>
	<td contenteditable="true" class="editable briefing-flow-field" id="delivery_3"></td>
      </tr>
    </tbody>
</table>
