<style>
</style>
<table width=100%>
      <tr>
	  <th class="header clickable" onclick="toggleVisHeader(this)" id="flightplan_header"><span class="arrow">▼</span>Flightplan</th>
      </tr>
</table>
<table width=100% id="flightplan" class="hidable">
    <thead>
        <tr>
            <th>#</th>
            <th>Description</th>
            <th>Time</th>
            <th>Distance</th>
            <th>Heading</th>
            <th>CAS</th>
            <th>Altitude</th>
            <th>Action</th>
            <th>Form.</th>
	    <th>Comment</th>
        </tr>
    </thead>
    <tbody>
      {% for stpt in steerpoints %}
      <tr>
	<td>{{stpt.number}}</td>
	<td>{{stpt.description}}</td>
	<td>{{stpt.time}}</td>
	<td>{{stpt.distance}}</td>
	<td>{{stpt.heading}}</td>
	<td>{{stpt.cas}}</td>
	<td>{{stpt.altitude}}</td>
	<td>{{stpt.action}}</td>
	<td>{{stpt.form}}</td>
	<td>{{stpt.comment}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
