<!DOCTYPE = html>
<head>
<title>HTML BRIEFING {%- if not brief_is_joined %}- PAGE {{num}}{% endif %}</title>
<link rel="shortcut icon" type="image/png" href="icon.png">
<style>
  body {
      width: 800px;
  }
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  align-items: center; 
  vertical-align : middle;
  padding: 3px;
  background-color: eeeeee;
}
.editable {
  background-color: ffffff;
}
td {
    height: 1.7em;
}
.header {
    background-color: dddddd;
}
@media print {
    .page, .page-break { break-after: page; }
}
</style>
</head>
<body>

{% if brief_is_joined %}
{% for page in brief_pages %}
<div {% if loop.index != brief_pages|length %} class="page" {% endif %}>
  {% for part in page %}
   {% include (part+".html") %}
  {% endfor %}
<style>
</style>
<table width="100%">
    <thead>
      <tr>
	<th class="header"><button id="save" onclick="saveContenteditables()">Save changes</button> <button id="load" onclick="loadContenteditables()">Load changes</button>
	</th>
	<th class="header" width="10%"> Page {{loop.index}}</th>
	</th>
        </tr>
    </thead>
</table>
</div>
<br>
{% endfor %}

{% else %}
{% for p in brief_pages[num - 1] %}
   {% include (p+".html") %}
{% endfor %}
<table width="100%">
    <thead>
      <tr>
	<th class="header"><button id="save" onclick="saveContenteditables()">Save changes</button> <button id="load" onclick="loadContenteditables()">Load changes</button>
	</th>
	<th class="header" width="10%"> Page {{num}}</th>
	</th>
        </tr>
    </thead>
</table>
{% endif %}
<style>
</style>
</body>
<script>
    function saveContenteditables() {
      const contenteditableElements = document.querySelectorAll('[contenteditable="true"]');
      const contentData = {};
      contenteditableElements.forEach(el => {
        const key = el.id;
        contentData[key] = el.innerHTML;
      });
      localStorage.setItem('contenteditables', JSON.stringify(contentData));
    }

    function loadContenteditables() {
      const contentData = JSON.parse(localStorage.getItem('contenteditables') || '{}');
      Object.keys(contentData).forEach(key => {
        const el = document.getElementById(key);
        if (el) {
          el.innerHTML = contentData[key];
        }
      });
    }
</script>
