<!DOCTYPE = html>
<head>
<title>HTML BRIEFING - PAGE 2</title>
<link rel="shortcut icon" type="image/png" href="icon.png">
<style>
  body {
      width: 800px;
  }
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  align-items: center; 
  vertical-align : middle;
  padding: 3px;
}

td {
    height: 25px;
}

.header {
    background-color: eeeeee;
}
</style>
</head>
<body contenteditable="true">
<table width=100%>
    <thead class="header">
      <tr>
	<th colspan="100" class="header">{{ overview.callsign }} ({{overview.mission_type}}) #{{overview.package_id}}</th>
        </tr>
    </thead>
</table>

{% include "roster.html" %}
{% include "admin.html" %}
{% include "weapon_settings.html" %}
{% include "cms.html" %}
{% include "targets.html" %}
{% include "delivery.html" %}
{% include "roe_brevity_notes.html" %}
{% include "support.html" %}
<style>
img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
</style>
<table width=100%>
    <thead>
      <tr>
	<th colspan="5" class="header"><div style="float: right"><img src="icon.png" height="70px"></div>
	</th>
        </tr>
    </thead>
</table>
</body>
