<style>
  tr.primary {
      font-weight: bold;
  }
</style>
<table width=100%>
      <tr>
<th class="header clickable" onclick="toggleVisHeader(this)" id="package_header"><span class="arrow">▼</span>Package</th>
  </tr>
</table>
<table width=100% id="package" class="hidable">
    <colgroup>
        <col style="width:15%;">
        <col style="width:10%;">
        <col style="width:15%;">
        <col style="width:15%;">
        <col style="width:15%;">
        <col style="width:15%;">
        <col style="width:15%;">
    </colgroup>
    <thead>
        <tr>
            <th>Callsign</th>
            <th>Flight #</th>
            <th>Role</th>
            <th>Aircraft</th>
            <th>Takeoff</th>
            <th>Push</th>
            <th>TOT</th>
        </tr>
    </thead>
    <tbody>
      {% for flight in package %}
      <tr {% if flight.roster.own %} class="primary" {% endif %}>
	<td>{{flight.callsign}}</td>
	<td>{{flight.flight}}</td>
	<td>{{flight.role}}</td>
	<td>{{flight.aircraft}}</td>
	<td>{{flight.takeoff}}</td>
	<td>{{flight.push}}</td>
	<td>{{flight.tot}}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
<table width=100%>
      <tr>
<th class="header clickable" onclick="toggleVisHeader(this)" id="suppPackage_header"><span class="arrow">▼</span>Supporting package</th>
  </tr>
</table>
<table width=100% id="suppPackage" class="hidable">
    <colgroup>
        <col style="width:15%;">
        <col style="width:10%;">
        <col style="width:15%;">
        <col style="width:15%;">
        <col style="width:15%;">
        <col style="width:15%;">
        <col style="width:15%;">
    </colgroup>
    <thead>
        <tr>
            <th>Callsign</th>
            <th>Flight #</th>
            <th>Role</th>
            <th>Aircraft</th>
            <th>Takeoff</th>
            <th>Push</th>
            <th>TOT</th>
        </tr>
    </thead>
    <tbody>
      <tr>
	<td contenteditable="true" class="editable" id="package_1"></td>
	<td contenteditable="true" class="editable" id="package_2"></td>
	<td contenteditable="true" class="editable" id="package_3"></td>
	<td contenteditable="true" class="editable" id="package_4"></td>
	<td contenteditable="true" class="editable" id="package_5"></td>
	<td contenteditable="true" class="editable" id="package_6"></td>
	<td contenteditable="true" class="editable" id="package_7"></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
	<td contenteditable="true" class="editable" id="package_8"></td>
	<td contenteditable="true" class="editable" id="package_9"></td>
	<td contenteditable="true" class="editable" id="package_10"></td>
	<td contenteditable="true" class="editable" id="package_11"></td>
	<td contenteditable="true" class="editable" id="package_12"></td>
	<td contenteditable="true" class="editable" id="package_13"></td>
	<td contenteditable="true" class="editable" id="package_14"></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
	<td contenteditable="true" class="editable" id="package_15"></td>
	<td contenteditable="true" class="editable" id="package_16"></td>
	<td contenteditable="true" class="editable" id="package_17"></td>
	<td contenteditable="true" class="editable" id="package_18"></td>
	<td contenteditable="true" class="editable" id="package_19"></td>
	<td contenteditable="true" class="editable" id="package_21"></td>
	<td contenteditable="true" class="editable" id="package_22"></td>
      </tr>
    </tbody>
    <tbody>
      <tr>
	<td contenteditable="true" class="editable" id="package_23"></td>
	<td contenteditable="true" class="editable" id="package_24"></td>
	<td contenteditable="true" class="editable" id="package_25"></td>
	<td contenteditable="true" class="editable" id="package_26"></td>
	<td contenteditable="true" class="editable" id="package_27"></td>
	<td contenteditable="true" class="editable" id="package_28"></td>
	<td contenteditable="true" class="editable" id="package_29"></td>
      </tr>
    </tbody>
</table>
