<style>
</style>
<table width=100%>
      <tr>
<th class="header clickable" onclick="toggleVisHeader(this)" id="roe_header"><span class="arrow">▼</span>ROE</th>
  </tr>
</table>

<table width=100% id="roe" class="hidable">
  <colgroup>
    <col style="width:5%;">
    <col style="width:95%;">
  </colgroup>
  <tbody>
      <td> <button class="refreshButton" onclick='restoreDefaultAtId("roe")'>⟳</button></td>
      <td contenteditable="true" class="editable roe" id="roe_1">{{roe}}</td>
    </tbody>
</table>
