<table width=100%>
    <tbody>
      <tr>
	  <th colspan="5" class="header">Support</th>
      </tr>
        <tr>
	  <th width="20%">Callsign</th>
          <th width="15%">Type</th>
          <th>Comment</th>
        </tr>
        {% for s in support %}
        <tr>
	    <td>{{ s.callsign }}</td>
            <td>{{ s.type }}</td>
            <td>{{ s.comment }}</td>
        </tr>
        {% endfor %}
      <tr>
	    <td contenteditable="true" class="editable" id="support_1"> &nbsp </td>
	    <td contenteditable="true" class="editable" id="support_2"></td>
	    <td contenteditable="true" class="editable" id="support_3"></td>
      </tr>
      <tr>
	    <td contenteditable="true" class="editable" id="support_4"> &nbsp </td>
	    <td contenteditable="true" class="editable" id="support_5"></td>
	    <td contenteditable="true" class="editable" id="support_6"></td>
      </tr>
    </tbody>
</table>
