<table width=100%>
      <tr>
<th class="header clickable" onclick="toggleVisHeader(this)" id="support_header"><span class="arrow">▼</span>Support</th>
  </tr>
</table>
<table width=100% id="support" class="hidable">
    <colgroup>
        <col style="width:18%;">
        <col style="width:12%;">
        <col style="width:70%;">
    </colgroup>
    <tbody>
        <tr>
	  <th>Callsign</th>
          <th>Type</th>
          <th>Comment</th>
        </tr>
        {% for s in support %}
        <tr>
	    <td>{{ s.callsign }}</td>
            <td>{{ s.type }}</td>
            <td>{{ s.comment }}</td>
        </tr>
        {% endfor %}
      <tr>
	    <td contenteditable="true" class="editable" id="support_1"></td>
	    <td contenteditable="true" class="editable" id="support_2"></td>
	    <td contenteditable="true" class="editable" id="support_3"></td>
      </tr>
      <tr>
	    <td contenteditable="true" class="editable" id="support_4"></td>
	    <td contenteditable="true" class="editable" id="support_5"></td>
	    <td contenteditable="true" class="editable" id="support_6"></td>
      </tr>
    </tbody>
</table>
