<style>
  tr.primary {
      font-weight: bold;
  }
</style>
<table width=100%>
    <thead>
      <tr>
	  <th class="header" width="10%"></th>
	  <th class="header" width="30%">TGT 1:</th>
	  <th class="header" width="30%">TGT 2:</th>
	  <th class="header" width="30%">MISC:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td class="header">Loc.</td>
	<td contenteditable="true" class="editable" id="targets_1"></td>
	<td contenteditable="true" class="editable" id="targets_2"></td>
	<td contenteditable="true" class="editable" id="targets_3"></td>
      </tr>
      <tr>
	<td class="header">Descr.</td>
	<td contenteditable="true" class="editable" id="targets_4"></td>
	<td contenteditable="true" class="editable" id="targets_5"></td>
	<td contenteditable="true" class="editable" id="targets_6"></td>
      </tr>
    </tbody>
</table>
