<style>
</style>
<table width=100%>
      <tr>
<th class="header clickable" onclick="toggleVisHeader(this)" id="weapons_header"><span class="arrow">▼</span>Weapons</th>
  </tr>
</table>
{% set weapon_cols = own_flight.weapons[0]|length if own_flight.weapons and own_flight.weapons[0] is not none else 0 %}
<table width=100% id="weapons" class="hidable">
    <colgroup>
        <col style="width:4%;">
        {% if weapon_cols > 0 %}
        {% for _ in range(weapon_cols) %}
        <col style="width:{{ 96 / weapon_cols }}%;">
        {% endfor %}
        {% endif %}
    </colgroup>
    <tbody>
      {% for i in range(4) %}
        <tr>
	    <td>{{i + 1}}</td>
	    {% for j in own_flight.weapons[i] %}
      <td>{{j}}</td>
      {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
</table>
