<style>
</style>
<table width=100%>
    <thead>
      <tr>
	  <th colspan="100" class="header">SMS</th>
      </tr>
      <tr>
	  <th colspan="4" class="header">MODE: CCRP</th>
	  <th colspan="4" class="header">MODE: CCIP</th>
	  <th colspan="4" class="header">MISC: </th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td class="header" width="5%">FUSE</td>
	<td width=5% contenteditable="true" class="editable" id="sms_1"></td>
	<td width=5% contenteditable="true" class="editable" id="sms_2"></td>
	<td class="header" width="5%">RLS</td>
	<td class="header" width="5%">FUSE</td>
	<td width=5% contenteditable="true" class="editable" id="sms_3">  </td>
	<td width=5% contenteditable="true" class="editable" id="sms_4">  </td>
	<td class="header" width="5%">RLS</td>
	<td contenteditable="true" class="editable" id="sms_5" width="29%"></td>
	<td contenteditable="true" class="editable" id="sms_6"></td>
      </tr>
      <tr>
	<td class="header">AD</td>
	<td contenteditable="true" class="editable" id="sms_7">  </td>
	<td contenteditable="true" class="editable" id="sms_8">  </td>
	<td class="header">SPC</td>
	<td class="header">AD</td>
	<td contenteditable="true" class="editable" id="sms_9">  </td>
	<td contenteditable="true" class="editable" id="sms_10">  </td>
	<td class="header">SPC</td>
	<td contenteditable="true" class="editable" id="sms_12">  </td>
	<td contenteditable="true" class="editable" id="sms_13">  </td>
      </tr>
      <tr>
	<td class="header">BA</td>
	<td contenteditable="true" class="editable" id="sms_14">  </td>
	<td contenteditable="true" class="editable" id="sms_15">  </td>
	<td class="header">RP</td>
	<td class="header">BA</td>
	<td contenteditable="true" class="editable" id="sms_16">  </td>
	<td contenteditable="true" class="editable" id="sms_17">  </td>
	<td class="header">RP</td>
	<td contenteditable="true" class="editable" id="sms_18">  </td>
	<td contenteditable="true" class="editable" id="sms_19">  </td>
      </tr>
    </tbody>
</table>
