<style>
</style>
<table width=100%>
      <tr>
<th class="header clickable" onclick="toggleVisHeader(this)" id="weather_header"><span class="arrow">▼</span>Weather</th>
  </tr>
</table>

<table width=100% id="weather" class="hidable">
    <colgroup>
        <col style="width:20%;">
        <col style="width:26.6%;">
        <col style="width:26.6%;">
        <col style="width:26.6%;">
    </colgroup>
    <thead>
      <tr>
	<th></th>
	<th>Takeoff</th>
	<th>Target</th>
	<th>Landing</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <th>Situation:</th>
      <td>{{weather.sit[0]}}</td>
      <td>{{weather.sit[1]}}</td>
      <td>{{weather.sit[2]}}</td>
      </tr>
      <tr>
      <th>Wind:</th>
      <td>{{weather.wind[0]}}</td>
      <td>{{weather.wind[1]}}</td>
      <td>{{weather.wind[2]}}</td>
      </tr>
      <tr>
      <th>Visibility:</th>
      <td>{{weather.vis[0]}}</td>
      <td>{{weather.vis[1]}}</td>
      <td>{{weather.vis[2]}}</td>
      </tr>
      <tr>
      <th>Temp.:</th>
      <td>{{weather.temp[0]}}</td>
      <td>{{weather.temp[1]}}</td>
      <td>{{weather.temp[2]}}</td>
      </tr>
      <tr>
      <th>Cloud:</th>
      <td>{{weather.cloud[0]}}</td>
      <td>{{weather.cloud[1]}}</td>
      <td>{{weather.cloud[2]}}</td>
      </tr>
      <tr>
      <th>Contrails:</th>
      <td>{{weather.con[0]}}</td>
      <td>{{weather.con[1]}}</td>
      <td>{{weather.con[2]}}</td>
      </tr>

    </tbody>
</table>
